.scan {
	background: transparent;
	.qrcode-box {
		height: 200px;
		width: 200px;
		background: white;
	}
}
.wallet {
	background: transparent;
}
.verify {
	background: transparent;

}

.connect {
	.checklist {
		width: 100%;
		min-height: 60px;
		.header {
			font-weight: bold;
			text-align: center;
		}
		.num {
			font-weight: bold;
			text-align: center;
		}
		.btn {
			width: 100px;
		}

	}
}