.scan {
	background: transparent;
	.qrcode-box {
		height: 200px;
		width: 200px;
		background: white;
	}
}
.wallet {
	background: transparent;
}
.verify {
	background: transparent;

}

.connect {
	.checklist {
		width: 100%;
		.header {
			font-weight: bold;
			text-align: center;
		}
		.num {
			text-align: center;
			// background: rgb(66, 13, 13);
		}
	}
}