{{ define "main" }}
<main aria-role="main">
    <div>
        <h1>{{ .Site.Title }}</h1>

        {{- with .Site.Params.homeSubtitle }}
        <p>{{.}}</p>
        {{- end }}

        <div class="container pt-12 generic">
            <div class="title-row">
                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <label for="Address">ETH address</label>
                            <input type="address" class="form-control" id="ethAddress"
                                aria-describedby="helpText" placeholder="Enter your ETH address">
                            <small id="helpText" class="form-text text-muted">We need this to generate your secret key</small>
                        </div>
                        <button id="authSubmitButton" onclick="FZD.Auth.submit();return false;" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>
</main>
{{ end }}